@{
    ViewData["Title"] = "Upload file excel";
}

<h4><b style="color: limegreen">Upload New Question</b></h4>
<br />

<form asp-action="BatchQuestionUpload" asp-controller="Question" method="post" enctype="multipart/form-data">
    <input type="file" name="batchQuestions" id="batchQuestions" onchange="validationBatchQuestions()" class="form-label" />
    <br />
    <br />
    <input type="submit" value="Upload" class="btn btn-success" />
</form>

<hr />

<p class="text-danger">@ViewBag.msg</p>
<br />
<div>
    <p>File Excel must be format like this. If you want to upload image then you drag and drop image into folder images/QA</p>
    <p><a href="~/uploadform.xlsx" class="btn btn-warning">Form Download</a></p>
    <a href="~/images/QA/Untitled.png" data-lightbox="~/images/QA/Untitled.png"><img src="~/images/QA/Untitled.png" width="500" /></a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="~/images/QA/Untitled2 (2).png" data-lightbox="~/images/QA/Untitled2 (2).png"><img src="~/images/QA/Untitled2 (2).png" width="500" /></a>
</div>

<script>    function validationBatchQuestions() {
        var fileInput = document.getElementById('batchQuestions');
        var filePath = fileInput.value;

        var allowedExtensions =
            /(\.xlsx|\.xls)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Must be .xlsx, .xls file!');
            fileInput.value = '';
            return false;
        } else {
            return true;
        }
    }
</script>
