<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="CandidateList" asp-action="Index">CandidateLists</a>
        <a class="dropdown-item" href="#">B</a>
        <a class="dropdown-item" href="#">C</a>
    </div>
</li>