<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="CandidateList" asp-action="Index">Candidate List</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="UserList">User List</a>
        @*<a class="dropdown-item" href="#">C</a>*@
        @*<a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="UserList">User List</a>*@
    </div>
</li>