@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/User/assets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="~/User/css/style.css">
    <link rel="stylesheet" href="~/User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/User/css/owl.theme.default.min.css">
    <script src="~/User/assets/bootstrap.bundle.min.js"></script>
    <link href="~/User/assets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/mixins/_border-radius.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/mixins/_visibility.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/utilities/_stretched-link.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/_media.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/User/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/User/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/User/css/style.css" rel="stylesheet" />





    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="body">
    <header style="margin-top:4%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="~/">Webster</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/">Home</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        @if (Context.Session.GetString("Mail")!=null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" data-toggle="modal" data-target="#UserRegistrationModal">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" data-toggle="modal" data-target="#UserLoginModal">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>

@await RenderSectionAsync("Scripts", required: false)
<script src="~/js/UserRegistration.js" asp-append-version="true"></script>
<script src="~/js/UserLogin.js" asp-append-version="true"></script>
<script src="~/js/BootstrapAlert.js" asp-append-version="true"></script>
<script src="~/User/assets/bootstrap.bundle.min.js"></script>

<script src="~/User/js/popper.js"></script>
<script src="~/User/js/bootstrap.min.js"></script>
<script src="~/User/js/owl.carousel.min.js"></script>


<script src="~/User/js/main.js"></script>
<script src="~/User/js/owl.carousel.min.js"></script>
<script src="~/User/js/popper.js"></script>
<script src="~/User/js/bootstrap.min.js"></script>


