@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using WebsterWebApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/User/assets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


    <link rel="stylesheet" href="~/User/css/style.css">
    <link rel="stylesheet" href="~/User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/User/css/owl.theme.default.min.css">
    <script src="~/User/assets/bootstrap.bundle.min.js"></script>
    <link href="~/User/assets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/mixins/_border-radius.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/mixins/_visibility.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/utilities/_stretched-link.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap/_media.css" rel="stylesheet" />
    <link href="~/User/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/User/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/User/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/User/css/style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link href="~/User/footer/fonts/icomoon/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/User/footer/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style CSS -->
    <link href="~/User/footer/css/style.css" rel="stylesheet" />


    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body id="body">
  
    <div>
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

   

</body>
</html>

<script src="~/js/UserRegistration.js" asp-append-version="true"></script>
<script src="~/js/UserLogin.js" asp-append-version="true"></script>
<script src="~/js/BootstrapAlert.js" asp-append-version="true"></script>
<script src="~/User/assets/bootstrap.bundle.min.js"></script>

<script src="~/User/js/popper.js"></script>
<script src="~/User/js/bootstrap.min.js"></script>
<script src="~/User/js/owl.carousel.min.js"></script>


<script src="~/User/js/main.js"></script>
<script src="~/User/js/owl.carousel.min.js"></script>
<script src="~/User/js/popper.js"></script>
<script src="~/User/js/bootstrap.min.js"></script>

<script src="~/User/footer/js/popper.min.js"></script>
<script src="~/User/footer/js/jquery-3.3.1.min.js"></script>
<script src="~/User/footer/js/bootstrap.min.js"></script>

