@using Microsoft.AspNetCore.Identity
@using WebsterWebApp.Data

@{
    ViewData["Title"] = "Home Page";
}

@*Body Index*@
<!-- Navigation -->


<section>
    <div class="container-fluid">
        <div class="content">
            <div>
                <embed src="~/images/system/Index-Banner.svg"/>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5 pb-md-4">Carousel #02</h2>
            </div>
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-1.jpg); background-image: url('file:///E:\Hot mess\Project HK3\Webster\WebsterWebApp\wwwroot\User\images\work-1.jpg');">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 01</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-2.jpg);">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 02</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-3.jpg);">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 03</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-4.jpg);">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 04</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-5.jpg);">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 05</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(images/work-6.jpg);">
                                <a href="#" class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-search"></span>
                                </a>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work 06</a></h3>
                                <span>Web Design</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color:skyblue">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">CONTACT US</h2>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> Ho Chi Minh, VN<br>
                <i class="fa fa-phone" style="width:30px"></i> Phone: +84 989096911<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: adweb.webster@gmail.com
                <br>
            </div>
            <div class="w3-col m6">
                <form>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6 style="color: black">About</h6>
                    <p class="text-justify">Webster.com <i>Online Aptitude test </i> is an initiative to help the job seekers proving themselves to employers by taking trial tests from various field of expertise.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color: black">Categories</h6>
                    <ul class="footer-links">
                        <li><a href="https://www.indiabix.com/aptitude/questions-and-answers/">Quantitative</a></li>
                        <li><a href="https://www.indiabix.com/verbal-ability/questions-and-answers/">Verbal and Reasoning</a></li>
                        <li><a href="https://www.indiabix.com/current-affairs/questions-and-answers/">Current Affairs & GK</a></li>
                        <li><a href="https://www.indiabix.com/engineering/">Engineering</a></li>
                        <li><a href="https://www.indiabix.com/c-sharp-programming/questions-and-answers/">Technical</a></li>
                        <li><a href="https://www.indiabix.com/biochemical-engineering/questions-and-answers/">Medical Science</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color: black">Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://Webster.com/about/">About Us</a></li>
                        <li><a href="http://Webster.com/contact/">Contact Us</a></li>
                        <li><a href="http://Webster.com/contribute-at-Webster/">Contribute</a></li>
                        <li><a href="http://Webster.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://Webster.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2022 All Rights Reserved by
                        <a href="#">Webster</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</section>

@*<script src="~/User/bootstrap.bundle.min.js"></script>
<script src="~/User/js/jquery.min.js"></script>
<script src="~/User/js/popper.js"></script>
<script src="~/User/js/bootstrap.min.js"></script>
<script src="~/User/js/owl.carousel.min.js"></script>*@
































